@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@100;400&display=swap');

.content {
  min-height: 100vh;
}

.Video_Container {
  overflow: hidden;
  min-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 0px #121718,
    inset 0px -1200px 200px -1000px #121718;
}

.Window_Container {
  min-height: 900px;
  overflow: hidden;
  height: 900px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#videoScene {
  margin-top: 134px;
  height: 495px;
  width: 1000px;
  margin-left: -00px;
}

#root {
  height: 96vh;
}

.Title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Window {
  height: 800px;
  width: 1000px;
  margin-left: -1000px;
}

.Info_Container {
  width: 100%;
  height: 1600px;
  background-color: white;
  margin-top: -1950px;
}

#videoSky {
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoSky {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoSky {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1075px) {
  .Video_Container {
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .Video_Container {
    align-items: flex-start;
  }

  #videoSky {
    width: 100%;
    height: auto;
  }
}

.quote {
  width: 500px;
  height: 500px;
  margin-top: -650px;
  position: absolute;
  padding: 0 25%;
  font-family: 'Lato', sans-serif;
  color: white;
  overflow: hidden;
}

.quote_text {
  font-weight: 100;
  font-size: 60px;
}

.priorities_container {
  width: 100%;
  height: 1150px;
  display: flex;
  justify-content: center;
}

.priorities_subcontainer {
  width: 1000px;
  height: 1000px;
  overflow: hidden;
}

.priorities_title {
  margin-left: 500px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.cards_container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 1000px;
  height: 1000px;
  justify-content: center;
}

.grid-item {
  width: 300px;
  height: 800px;
  display: flex;
  justify-content: center;
}

.priorities_picture_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.priorities_picture1 {
  width: 280px;
  height: 400px;
  background-color: aquamarine;
}

.priorities_picture2 {
  width: 220px;
  height: 350px;
  background-color: aquamarine;
}

.priorities_picture3 {
  width: 280px;
  height: 280px;
  background-color: aquamarine;
}

.priorities_picture4 {
  width: 250px;
  height: 250px;
  background-color: aquamarine;
}

.priorities_subtitle {
  font-family: 'Lato', sans-serif;
  color: rgb(87, 140, 201);
  font-weight: 100;
  font-size: 45px;
}

.priorities_info {
  max-width: 200px;
  font-family: 'Lato', sans-serif;
  font-size: x-small;
  line-height: 1.8;
  color: #797979;
}

.grid1 {
  transform: translate(0px, 0px);
}

.grid2 {
  transform: translate(0px, 100px);
}
.grid3 {
  transform: translate(0px, 50px);
}

.phrase_container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  display: grid;
  grid-template-rows: auto auto;
}
.resalted_word {
  color: rgb(76, 120, 172);
}

.line {
  height: 120px;
  width: 1px;
  background-color: rgb(76, 120, 172);
  margin-top: 30px;
}

@mixin white-gradient {
}

$animationSpeed: 10s;
$animationSpeed2: 20s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 100px;

  &::before,
  &::after {
    @include white-gradient;
    content: '';
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide1 {
    height: 100%;
    width: 100%;
    margin-right: 100px;
  }
  .slide2 {
    height: 100%;
    width: 100%;
    margin-right: 100px;
    padding-top: 25px;
  }
  .slide3 {
    height: 100%;
    width: 100%;
    margin-right: 100px;
    padding-top: 50px;
  }
  .slide4 {
    height: 100%;
    width: 100%;
    margin-right: 100px;
    padding-top: 80px;
  }
}

.slider2 {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 100px;

  &::before,
  &::after {
    @include white-gradient;
    content: '';
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed2 linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100%;
    width: auto;
    margin-right: 10px;
  }
}

.slider_text {
  width: 300px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding: 0px;
}

.inclined {
  transform: rotate(45deg);
  height: 120px;
  width: 1px;
  margin-top: -20px;
  background-color: rgb(76, 120, 172);
}

.slide_inclined {
  width: 70px;
  height: 100%;
}

.contact_container {
  width: 100%;
  height: 300px;
  margin-top: 400px;
  align-items: center;
  justify-content: center;
}

.contact {
  display: grid;
  width: 100%;
  grid-template-columns: 60% 40%;
  justify-content: center;
}

.links {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
}

.links_title {
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
  display: flex;
  justify-content: left;
  margin-left: 100px;
}

.phrase_p {
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 10px;
  display: flex;
  text-align: left;
  margin-left: 100px;
  max-width: 350px;
}

.data {
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 10px;
  display: flex;
  text-align: left;
}

.contact_links {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid rgb(58, 58, 58);
  margin-right: 10px;
  margin-top: 4px;
}

.lined_text {
  text-decoration: underline;
}

.mail {
  margin-left: -126px;
}

.ex {
  margin-left: -38px;
  margin-top: 12px;
}

.download {
  margin-top: -0px;
  margin-right: 2px;
}

.download2line {
  margin-left: -61px;
  margin-top: 14px;
}

.footer {
  width: 99.5%;
  height: 50px;
  border: 1px solid rgb(58, 58, 58);
  display: flex;
  justify-content: center;
}

.footersub {
  display: flex;
  height: 100%;
  max-width: 1000px;
  min-width: 1000px;
}

.footer1 {
  height: 100%;
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: center;
}

.footer2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 8px;
}

.footer3 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 8px;
}

.skyp {
  width: 200px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 11px;
  line-height: 1.5;
}

.skyp1 {
  margin-top: 50vh;
  margin-left: -280px;
}

.skyp2 {
  margin-top: 50vh;
  margin-left: 20px;
}

.Title_svg {
  margin-left: 100px;
}

.title_icons {
  margin-top: 60vh;
}
